{% extends "base.html" %}

{% block title %}Verify Email Address{% endblock %}

{% block content %}
<p>Hello {{user_name}},</p>

<p>In order to verify your email address you must enter the following code at the prompt in your browser:
    <b>{{validation_id}}</b>.
</p>

<p>If you have navigated away from the prompt within your browser, then click
    <a href="http:/localhost/verify-email/{{encoded_email_id}}">here</a> to be
    prompted for the verification code above.
</p>

<p>Kind regards,</p>
<p>The Email Team!</p>

{% endblock %}